* {
    box-sizing: border-box;
}

header {
    background-color: black;
    margin: 0;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
}
nav li {
    text-align: center;
    list-style: none;
    padding: 7px 0 7px 0;
}
nav li a {
    text-decoration: none;
    font-family: 'inter', 'sans-serif';
    color: white;
    font-size: 1.0em;
    padding: 7px 0 7px 0;
}
nav a:hover {
    color: turquoise;
}

.heading {
    text-align: center;
    font-family: 'inter', sans-serif;
    font-weight: 300;
    padding: 30px 0 10px 0;
    margin: 0;
}
.paragraph {
    font-size: 14px;
    font-family: 'inter', sans-serif;
    font-weight: 300;
    margin: 0;
}
.about-me {
    display: grid;
    margin-top: 0;
    /* margin-bottom: 20px; */
}
.about-me h3 {
    text-align: center;
    font-family: 'inter', sans-serif;
    font-weight: 300;
}
.about-me p {
    font-size: 14px;
    font-family: 'inter', sans-serif;
    font-weight: 300;
    padding-top: 10px;
}
.my-experience {
    display: grid;
    margin: 0;
}
.my-experience h3 {
    
}
.my-experience p {

}
.my-experience p a {
    color: teal;
}

@media only screen and (min-width: 768px) {
    
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav li {
        padding: 15px 0 15px 0;
    }
    
}


@media only screen and (min-width: 1024px) {
   
}