* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    /* background-color: #f8f8f8; */
    margin: 0;
}


header {
    margin: 0;
}

/* THE BURGER MENU */
/* .off-screen-menu {
    background-color: rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.off-screen-menu ul {
    padding: 0;
}
.off-screen-menu li {
    list-style: none;
}
.off-screen-menu li a {
    font-family: 'inter', sans-serif;
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}
.off-screen-menu.active {
    right: 0;
}
.nav {
    margin-bottom: 10px;
    padding: 1rem;
    display: flex;
    background-color: rgb(34, 37, 49);
}
.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #6f86ff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1){
    top: 25%;
}
.ham-menu span:nth-child(3){
    top: 75%;
}
.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2){
    opacity: 0;
}
.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
} */
/* END OF THE BURGER MENU */

#front-end-developer {
    border-bottom: 1px solid lightgrey;
}
#front-end-developer h1 {
    font-family: Cinzel, sans-serif;
    font-size: 25px;
    text-align: center;
}

nav {
    display: none;
    /* opacity: 0;
    margin: 0;
    padding: 0;
    height: 0; */
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
}
nav li {
    text-align: center;
    list-style: none;
    padding: 7px 0 7px 0;
}
nav li a {
    text-decoration: none;
    font-family: 'inter', 'sans-serif';
    color: black;
    font-size: 0.8em;
    padding: 7px 0 7px 0;
}
nav a:hover {
    color: turquoise;
    padding-bottom: 1px;
    border-bottom: 1px solid turquoise;
}



/* ABOUT ME */
.about-me {
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 25px 0 25px 0;
    background-color: #434d55;
}
.about-me img {
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 0;
    width: 95%;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-me h3 {
    text-align: center;
    font-size: 23px;
    font-family: "inter", sans-serif;
    font-weight: 500;
    color: white;
    margin: 0;
    padding: 15px 0 15px 0;
}
.about-me p {
    font-size: 0.8rem;
    font-family: "inter", sans-serif;
    /* color: #1a1a1a; */
    color: #7f858f;
    color: white;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0 0 4px 4px;
}
/* 
.zoomBOut {
    border: 1px solid red;
    width: 100%;
    height: 220px;
    overflow: hidden;
}
.zoomBIn {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: transform ease 0.3s;
}
.zoomBIn:hover {
    transform: scale(1.2);
}
*/


/* MY EDUCATION WHERE I'VE BEEN TO STUDY */
.my-education {
    background-color: white;
    margin: 0;
    padding: 0;
}
.my-education h4 {
    font-size: 30px;
    text-align: left;
    font-family: "inter", sans-serif;
    color: black;
    font-weight: 500;
    margin: 0;
    padding: 10px 0 15px 20px;
}
.my-education span {
    font-size: 40px;
    color: rgba(255, 80, 0);
}
.my-education p {
    font-family: "inter", sans-serif;
    color: #7f858f;
    font-size: 0.9rem;
    margin: 0 10px 0 20px;
}

/* THE ICONS OF VB/OPEN UNI/TREEHOUSE */
.education {
    background-color: #f8f8f8;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
}


/* MY TREEHOUSE PROJECTS UNITS */
.my-treehouse-projects {
    border-radius: 6px;
    /* background-color: #f8f8f8; */
    display: block;
    margin: 0 auto;
    width: 100%;
}
.projects-headline {
    font-family: "inter", sans-serif;
    font-size: 26px;
    font-weight: 500;
    color: black;
    margin: 0;
    padding: 40px 0 40px 20px;
    text-align: left;
}
.projects-headline span {
    font-size: 40px;
    color: rgba(255, 80, 0);
    padding: 0;
}
.my-treehouse-projects .projects {
    /* border: 1px solid blue; */
    background-color: #f8f8f8;
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 5px;
}
.my-treehouse-projects .item {
    background-color: white;
    margin: 10px 0 10px 0;
}
/* color: #7f858f; */



/* visual basic section */
.visual-basic {
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    width: 90%;
    background-color: white;
}
.visual-basic img {
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    height: 190px;
}


/* the open university section */
.open-university {
    border-radius: 6px;
    margin: 0 auto;
    display: block;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}
.open-university img {
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    height: 200px;
}

/* the treehouse section */
.treehouse {
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    background-color: white;
    width: 90%;
}
.treehouse img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    width: 50%;
    height: 140px;
}
.treehouse h3 {
    font-family: 'inter', sans-serif;
    color: green;
    margin: 0;
    padding: 10px 0 10px 0;
    text-align: center;
}
/* .treehouse .zoomBIn {
    width: 150px;
    height: 150px;
    margin-top: 12px;
    margin-bottom: 10px;
} */



/* the online reg form */
.online-reg-form {
    border-radius: 6px;
}
.online-reg-form img {
    border-radius: 6px 6px 0 0;
    height: 370px;
    width: 100%;
}
.online-reg-form h2 {
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
    color: black;
}
.online-reg-form:hover {
    cursor: pointer;
}



/* the interactive photo gallery */
.interactive-gallery {
    border-radius: 6px;
}
.interactive-gallery img {
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 220px;
}
.interactive-gallery h2 {
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
    text-decoration: none;
}



/* the game show app unit */
.game-show-app {
    border-radius: 6px;
}
.game-show-app img {
    border-radius: 6px 6px 0 0;
    height: 220px;
    width: 100%;
}
.game-show-app h2 {
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
}



/* the dashboard unit */
.dashboard {
    border-radius: 6px;
}
.dashboard img {
    border-radius: 6px 6px 0 0;
    height: 220px;
    width: 100%;
}
.dashboard h2 {
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: black;
    padding: 10px 0 10px 0;
    margin: 0;
}



/* MY WORK EXPERIENCE TO GO HERE */
.my-experience {
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
    background-color: white;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.my-experience span {
    border-radius: 5px;
    padding: 5px 9px;
    margin-right: 5px;
    width: 98%;
    height: 200px;
}
.my-experience h3 {
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 0 20px;
    padding: 15px 0 15px 3px;
}
.my-experience h3 span {
    font-size: 40px;
    color: rgba(255, 80, 0);
    padding: 0;
}
.my-experience h4 {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 18px;
    color: #7f858f;
    margin: 0;
    padding: 10px 0 5px 4px;
}
.my-experience p {
    /* font-size: 0.8rem; */
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #7f858f;
    margin: 0 0 0 20px;
    padding: 0 0 10px 4px;
}
.my-experience p a {
    color: teal;
}
.work h4 {
    margin: 0 0 0 20px;
}
.work span {
    /* margin-right: 5px;
    padding: 5px 5px 5px ;
    color: black; */
}
.work img {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 45px;
}
#intheory-icon {
    background-color: turquoise;
}
#carnival-icon {
    background-color: rgb(75, 207, 119);
}



/* WHAT IVE BEEN WORKING ON SO FAR */
.what-I-am-working-on {
    /* border-bottom: 1px solid lightgrey; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 30px 0 30px 0;
}
.what-I-am-working-on p {
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgb(17, 17, 17);
    margin: 0;
    padding: 0 0 0 20px;
    width: 90%;
}
.what-I-am-working-on .grey-text {
    color: rgb(127, 133, 143);
}
.what-I-am-working-on .full-stop {
    color: rgb(255, 80, 0);
    margin: 0;
    padding: 0;
}
.what-I-am-working-on .two-projects {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin: 0;
    padding-top: 10px;
    color: #7f858f;
}



/* MY OWN REINCARNATION WEBSITE  */
.reincarnation-work {
    display: block;
    margin: 0;
    padding: 0;
}
.reincarnation-work h2.title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 20px 0 20px 7px;
}
.reincarnation-work h2.title span {
    color: #7f858f;
}
.reincarnation-work h2.title #full-stop {
    color: rgb(255, 80, 0);
}
.independent {
    background-color: white;
    display: block;
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
    width: 95%;
}
.independent h2.title {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 0;
    color: black;
}
.independent h2.title span {
    font-family: "Inter", sans-serif;
    color: #7f858f;
}
.intheory {
    border-radius: 6px;
}
.intheory img {
    border-radius: 6px;
    height: 220px;
    width: 100%;
}
.intheory h2 {
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #7f858f;
    text-align: center;
    padding: 10px 0 7px 0;
    margin: 0;
}
.independent p {
    /* font-family: 'inter', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #7f858f;
    margin: 0;
    padding: 0 0 10px 0; */
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #008cba;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
.independent {
    position: relative;
    width: 96%;
}
.independent:hover .overlay {
    border-radius: 6px;
    width: 100%;
    left: 0;
}
.text {
    color: white;
    font-size: 19px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.independent .text a {
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px 0;
    color: white;
    font-size: 21px;
    text-align: center;
}
.independent .text a:hover {
    color: turquoise;
}
.leininger {
    margin: 0;
    padding: 0;
}
.leininger iframe {
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
}


/* MARPLE CARNIVAL APP */
.marple-carnival-app {
    border-bottom: 1px solid lightgrey;
    padding: 50px 0 50px 0;
}
.marple-carnival-app h2 {
    margin: 0;
    padding: 20px 0 20px 7px;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    color: black;
}.marple-carnival-app h2 span {
    color: #7f858f;
}
.marple-carnival-app #full-stop {
    color: rgb(255, 80, 0);
}
.marple-carnival-app p {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #7f858f;
    margin: 0;
    padding: 0 0 0 4px;
}
.marple-carnival-app img {
    width: 100%;
    height: 130px;
    padding: 10px 0 10px 0;
}



/* THE FUTURE */
.the-future {
    display: block;
    margin: 0 auto;
    background-color: white;
    border-radius: 6px;
    margin-top: 14px;
    margin-bottom: 12px;
    padding: 0;
    width: 98%;
}
.the-future img {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 240px;
}
.the-future h3 {
    font-family: 'inter', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    padding: 10px 0 10px 3px;
    margin: 0;
}
.the-future span {
    display: inline-block;
    font-size: 40px;
    color: rgba(255, 80, 0);
}
.the-future p {
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0 0 0 4px;
    color: #7f858f;
}



/* footer */
footer {
    margin: 0;
    padding: 15px 0 10px 0;
}
footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    justify-content: center;
}
footer li {
    margin: 10px;
    padding: 0;
}
footer a {
    color: turquoise;
}
footer img {
    width: 65px;
    height: 40px;
}
footer img:hover {
    cursor: pointer;
}



/* TABLET MEDIA QUERIES *********************************************************************/
@media only screen and (min-width: 768px) {
    
    nav {
        display: block;
        margin: 0;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    nav li {
        padding: 15px 15px 15px 15px;
    }

    /* .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */

    

    /* ABOUT ME SECTION/AREA */
    .about-me {
        
    }
    .about-me img {
        display: block;
        margin: 0 auto;
        width: 50%;
        height: 250px;
    }
    .about-me h3 {
        margin: 0;
        padding-block: 1rem;
    }
    .about-me p {
        display: block;
        margin: 0 auto;
        padding: 0 0 0 5px;
        width: 50%;
        font-size: 15px;
    }



    /* MY EDUCATION AREA */
    .my-education {
        border-bottom: 1px solid lightgrey;
    }
    .my-education h4 br {
        display: none;
        font-size: 40px;
        font-weight: 500;
    }
    .my-education p {
        font-size: 15px;
    }

    /* MY EDUCATION-IN-SOFTWARE ICONS */
    .education {
        background-color: white;
        width: 97%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .education .item {
        
    }
    .open-university {
        width: 250px;
        margin: 0 auto;
    }
    .treehouse img {
        width: 130px;
        margin-top: 10px;
    }



    /* SOME OF MY TECHDEGREE UNITS */
    .my-treehouse-projects {
        display: block;
        margin: 0 auto;
        width: 98%;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0;
    }
    .my-treehouse-projects section {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .my-treehouse-projects .projects-headline {
        font-size: 25px;
        text-align: left;
        padding: 15px 0 15px 20px;
        width: 100%;
    }
    .my-treehouse-projects .projects {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px 200px 200px 180px;
        gap: 20px;
    }
    .my-treehouse-projects .item {
        
    }
    .my-treehouse-projects .item a {
        
    }
    .my-treehouse-projects .item img {
        
    }
    .my-treehouse-projects .item h2 {
        
    }
    .my-treehouse-projects .item:hover {
        /* border: 1px solid turquoise; */
        box-shadow: 4px 4px 0 0 lightgrey;
        transition: box-shadow 0.3s ease-in-out;
    }
    .item-1 {
        display: flex;
        justify-content: center;
        height: 420px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .item-1 img {
        max-width: 100%;
    }
    .item-2 {
        height: 420px;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .item-3 {
        grid-column-start: -5;
        grid-column-end: -3;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    .item-4 {
        height: 375px;
        grid-column-start: -3;
        grid-column-end: -1;
    }



    /* MY WORK EXPERIENCE */
    .my-experience {
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
    }
    .my-experience br {
        display: none;
    }
    .my-experience h3 {
        font-size: 40px;
    }
    .my-experience p {
        font-size: 16px;
        padding-left: 5px;
    }


    .what-I-am-working-on {
        border-bottom: none;
    }



    /* THIS IS MY REINCARNATION TABLET CSS STYLES */
    .reincarnation-work {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 50px 0 50px 0;
    }
    .reincarnation-work h2.title {
        font-size: 23px;
        /* padding: 20px 0 20px 20px; */
        padding-bottom: 20px;
        padding-left: 23px;
        flex-basis: 100%;
    }
    .independent,
    .leininger {
        /* height: 350px; */
        flex-basis: 50%;
    }
    .independent,
    .leininger iframe {
        height: 350px;
        margin: initial;
        width: initial;
    }
    .independent img {
        height: 300px;
    }
    .reincarnation-work .theory {
        margin: 0;
    }
    .leininger iframe {
        width: 100%;
    }


    /* MARPLE CARNIVAL APP */
    .marple-carnival-app {
        border-bottom: 1px solid lightgrey;
        margin: 0;
        padding: 50px 0 50px 0;
    }
    .marple-carnival-app h2 {
        padding: 20px 0 20px 22px;
    }
    .marple-carnival-app p {
        padding: 0 0 0 22px;
    }
    .marple-carnival-app img {
        display: block;
        margin: 0 auto;
        height: 200px;
        width: 94%;
    }
    

    /* MY FUTURE TABLET CSS STYLES */
    .the-future img {
        height: 300px;
        max-width: 200px;
    }
    .the-future h3 {
        padding-left: 10px;
    }
    .the-future p {
        padding-left: 10px;
    }
    
}


/* DESKTOP MEDIA QUERIES *****************************************************/
@media only screen and (min-width: 1024px) {
   

    /* THE FRONT END PAGE TITLE */
    .front-end-heading {
        margin: 0;
        padding: 0;
    }
    .front-end-heading h1 {
        font-family: Cinzel, sans-serif;
        font-size: 50px;
        text-align: center;
    }


    /* THE NAVIGATION BAR */
    nav {
        display: block;
    }
    

    /* ABOUT ME */
    .about-me img {
        width: 40%;
    }


       
    .education .item {
        flex-direction: space-around;
    }
    .education .item:hover {
        border: 1px solid turquoise;
    }


    /* REINCARNATION INDEPENDENT WORK */
    .independent {
               
    }


    /* MARPLE CARNIVAL APP */
    .marple-carnival-app {

    }
    .marple-carnival-app h2 {

    }
    .marple-carnival-app p {
        font-size: 16px;
    }
    .marple-carnival-app img {
        width: 96%;
    }
    

    .the-future {

    }
    .the-future p {
        font-size: 16px;
    }

}