* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: #f8f8f8;
    margin: 0;
}


header {
    margin: 0;
    height: 98px;
}

/* THE BURGER MENU */
/* .off-screen-menu {
    background-color: rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.off-screen-menu ul {
    padding: 0;
}
.off-screen-menu li {
    list-style: none;
}
.off-screen-menu li a {
    font-family: 'inter', sans-serif;
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}
.off-screen-menu.active {
    right: 0;
}
.nav {
    margin-bottom: 10px;
    padding: 1rem;
    display: flex;
    background-color: rgb(34, 37, 49);
}
.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #6f86ff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1){
    top: 25%;
}
.ham-menu span:nth-child(3){
    top: 75%;
}
.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2){
    opacity: 0;
}
.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
} */
/* END OF THE BURGER MENU */


nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
}
nav li {
    text-align: center;
    list-style: none;
    padding: 7px 0 7px 0;
}
nav li a {
    text-decoration: none;
    font-family: 'inter', 'sans-serif';
    color: black;
    font-size: 0.8em;
    padding: 7px 0 7px 0;
}
nav a:hover {
    color: turquoise;
    padding-bottom: 1px;
    border-bottom: 1px solid turquoise;
}


.grid {

}


/* ABOUT ME */
.about-me {
    border-radius: 0px;
    /* display: grid; */
    margin: 0 auto;
    margin-bottom: 0px;
    padding-bottom: 25px;
    background-color: white;
}
.about-me img {
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 98%;
    height: 200px;
}
.about-me h3 {
    text-align: center;
    font-size: 23px;
    font-family: "inter", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 15px 0 15px 0;
}
.about-me p {
    font-size: 0.8rem;
    font-family: "inter", sans-serif;
    /* color: #1a1a1a; */
    color: #7f858f;
    font-weight: 400;
    margin: 0;
    padding: 0 0 4px 4px;
}
/* 
.zoomBOut {
    border: 1px solid red;
    width: 100%;
    height: 220px;
    overflow: hidden;
}
.zoomBIn {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: transform ease 0.3s;
}
.zoomBIn:hover {
    transform: scale(1.2);
}
*/



/* MY EXPERIENCE */
.my-experience {
    border-radius: 6px;
    background-color: white;
    margin-bottom: 15px;
    padding-top: 10px;
}
.my-experience img {
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    width: 98%;
    height: 200px;
}
.my-experience h3 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 23px;
    font-weight: 300;
    margin: 0;
    padding: 15px 0 15px 0;
}
.my-experience h4 {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 18px;
    color: #7f858f;
    margin: 0;
    padding: 10px 0 5px 4px;
}
.my-experience p {
    /* font-size: 0.8rem; */
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #7f858f;
    margin: 0;
    padding: 0 0 10px 4px;
}
.my-experience p a {
    color: teal;
}


/* THIS IS THE AREA OF EDUCATION */
.education {
    display: block;
    margin: 0 auto;
    width: 95%;
}



/* visual basic section */
.visual-basic {
    border-radius: 6px;
    /* display: block;
    margin: 0 auto; */
    background-color: white;
}
.visual-basic img {
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 220px;
}


/* the open university section */
.open-university {
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.open-university img {
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 240px;
}

/* the treehouse section */
.treehouse {
    border-radius: 6px;
    background-color: white;
}
.treehouse img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    width: 50%;
    height: 140px;
}
.treehouse h3 {
    font-family: 'inter', sans-serif;
    color: green;
    margin: 0;
    padding: 10px 0 10px 0;
    text-align: center;
}
/* .treehouse .zoomBIn {
    width: 150px;
    height: 150px;
    margin-top: 12px;
    margin-bottom: 10px;
} */


/* My Treehouse Techdegree units section */
.projects-headline {
    font-family: "inter", sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: #7f858f;
    padding: 20px 0 10px 0;
    text-align: center;
}
.my-treehouse-projects {
    border-radius: 6px;
    background-color: #f8f8f8;
    display: block;
    margin: 0 auto;
    width: 95%;
}
.my-treehouse-projects .item {
    background-color: white;
    margin: 0 0 15px 0;
}



/* the online reg form */
.online-reg-form {
    border-radius: 6px;
}
.online-reg-form img {
    border-radius: 6px 6px 0 0;
    height: 370px;
    width: 100%;
}
.online-reg-form h2 {
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
    color: black;
}
.online-reg-form:hover {
    cursor: pointer;
}



/* the interactive photo gallery */
.interactive-gallery {
    border-radius: 6px;
}
.interactive-gallery img {
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 220px;
}
.interactive-gallery h2 {
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
    text-decoration: none;
}



/* the game show app unit */
.game-show-app {
    border-radius: 6px;
}
.game-show-app img {
    border-radius: 6px 6px 0 0;
    height: 220px;
    width: 100%;
}
.game-show-app h2 {
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
}



/* the dashboard unit */
.dashboard {
    border-radius: 6px;
}
.dashboard img {
    border-radius: 6px 6px 0 0;
    height: 220px;
    width: 100%;
}
.dashboard h2 {
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: black;
    padding: 10px 0 10px 0;
    margin: 0;
}



/* my own independent work or website */
.independent {
    background-color: white;
    display: block;
    border-radius: 6px;
    margin: 0 auto;
    padding: 0;
    width: 95%;
}
.independent h2 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 5px 0 10px 0;
    color: #7f858f;
}
.intheory {
    border-radius: 6px;
}
.intheory img {
    border-radius: 6px;
    height: 220px;
    width: 100%;
}
.intheory h2 {
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding: 10px 0 7px 0;
    margin: 0;
}
.independent p {
    font-family: 'inter', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #7f858f;
    margin: 0;
    padding: 0 0 10px 0;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #008cba;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
.independent {
    position: relative;
    width: 95%;
}
.independent:hover .overlay {
    border-radius: 6px;
    width: 100%;
    left: 0;
}
.text {
    color: white;
    font-size: 19px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.independent .text a {
    border: 1px solid turquoise;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px 0;
    color: white;
    font-size: 21px;
    text-align: center;
}
.independent .text a:hover {
    background-color: turquoise;
    color: #008cba;
}



/* THE FUTURE */
.the-future {
    display: block;
    margin: 0 auto;
    background-color: white;
    border-radius: 6px;
    margin-top: 14px;
    margin-bottom: 12px;
    padding: 0 0 6px 0;
    width: 95%;
}
.the-future img {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 240px;
}
.the-future h3 {
    font-family: 'inter', sans-serif;
    font-size: 23px;
    font-weight: 300;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
}
.the-future p {
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0 0 10px 4px;
    color: #7f858f;
}



/* footer */
footer {
    margin: 0;
    padding: 15px 0 10px 0;
}
footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    justify-content: center;
}
footer li {
    margin: 10px;
    padding: 0;
}
footer a {
    color: turquoise;
}
footer img {
    width: 65px;
    height: 40px;
}
footer img:hover {
    cursor: pointer;
}



/* TABLET MEDIA QUERIES *********************************************************************/
@media only screen and (min-width: 768px) {
    
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav li {
        padding: 15px 0 15px 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    

    /* ABOUT ME SECTION/AREA */
    .about-me {
        /* place-content: start; */
    }
    .about-me img {
        margin: 0;
    }
    .about-me h3 {
        margin: 0;
        padding-block: 1rem;
    }
    .about-me p {
        margin: 0;
        padding: 0 0 0 5px;
    }



    /* MY EXPERIENCE */
    .my-experience p {
        padding-left: 5px;
    }



    /* MY EDUCATION IN SOFTWARE */
    .education {
        width: 97%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .education .item {
        width: 300px;
        height: 300px;
    }
    .open-university {
        margin: 0 0 0 0;
    }



    /* SOME OF MY TECHDEGREE UNITS */
    .my-treehouse-projects {
        display: block;
        margin: 0 auto;
        width: 96%;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0;
    }
    .my-treehouse-projects section {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .my-treehouse-projects .projects-headline {
        font-size: 25px;
        display: block;
        margin: 0 auto;
        padding: 25px 0;
        width: 100%;
    }
    .my-treehouse-projects .projects {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px 200px 200px 180px;
        gap: 20px;
    }
    .my-treehouse-projects .item {
        
    }
    .my-treehouse-projects .item a {
        
    }
    .my-treehouse-projects .item img {
        
    }
    .my-treehouse-projects .item h2 {
        
    }
    .my-treehouse-projects .item:hover {
        /* border: 1px solid turquoise; */
        box-shadow: 5px 5px 0 0 lightgrey;
        transition: box-shadow 0.3s ease-in-out;
    }
    .item-1 {
        display: flex;
        justify-content: center;
        height: 420px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .item-1 img {
        max-width: 100%;
    }
    .item-2 {
        height: 420px;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .item-3 {
        grid-column-start: -5;
        grid-column-end: -3;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    .item-4 {
        height: 375px;
        grid-column-start: -3;
        grid-column-end: -1;
    }



/* THIS IS MY REINCARNATION TABLET CSS STYLES */
    .independent {
        height: 350px;
    }
    .independent .title {
        font-size: 23px;
        padding: 6px 0;
    }
    .independent p {
        display: block;
        margin: 0 auto;
        padding: 0 0 17px 0;
        width: 75%;
        font-size: 13px;
        text-align: left;
    }
    

/* MY FUTURE TABLET CSS STLYES */
    .the-future img {
        height: 300px;
        /* width: 200px; */
        max-width: 200px;
    }
    .the-future p {
        /* padding-left: 5px; */
    }
}


@media only screen and (min-width: 1024px) {
   

    .independent {
        height: 390px;
    }
    .independent .intheory img {
        display: block;
        margin: 0 auto;
        height: 250px;
        width: 800px;
    }

}